<%- include("header.ejs")%>
<%- include("menu.ejs")%>
<form action="/createproduct" method="post">

    <input type="text" name="text" id="textfield" placeholder="Text">
    <input type="text" name="room" id="textfield" placeholder="Room">
    <input type="text" name="price" id="textfield" placeholder="Price">
    <input type="text" name="url" id="textfield" placeholder="Url">

    <input type="submit" id="btncreateproduct" value="create">

</form>