<%- include("header.ejs")%>
<%- include("menu.ejs")%>
<form action="/createproduct" method="post">

    <input type="text" name="name" id="name" placeholder="Name">
    <input type="text" name="room" id="room" placeholder="Room">
    <input type="text" name="price" id="price" placeholder="Price">
    <input type="text" name="url" id="url" placeholder="Url">

    <input type="submit" id="btncreateproduct" value="create">

</form>
<%- include("footer.ejs")%>