<body>
	<div class="subnav__container">
		<div class="subnav__title">
			<img src="" alt="Home Net-logo" />
		</div>
		<div class="subnav__title">
			<ul class="subnav__list">
				<li><a href="/product">Lägenheter</a></li>
				<li><a href="/contact">Kontakt</a></li>
			</ul>
		</div>
		<div class="subnav__title">
			<ul class="subnav__list">
				<li class="subnav__item">
					<a href="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a>
				</li>
			</ul>
		</div>
	</div>
</body>
