<%- include("header.ejs")%>
<body>
    <div class="footerContainer">
        <div class='footerIcon'>
            <img src="" alt="Home Net-logo">
        </div>
        <div class='footerMenu'>
            <ul class='footerMenuList'>
                <li><a href="/product">Till Salu</a></li>
                <li><a href="/sold">Sålda</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </div>
        <div class='footerContact'>
            <ul class='contactList'>
                <li>Adress: </li>
                <li>Telefon: </li>
                <li>Email: </li>
            </ul>
        </div>
    </div>
</body>