
<div class="subnav__container">
	<div class="subnav__title">
		<ul class="subnav__list">
			<li><a href="#">Hyr ut din egen</a></li>
			<li><span>Kontakt:</span><a href="#">info@info.se</a></li>
			<li><a href="#">Regler och villkor</a></li>
			<li><span>Adress 1337</span></li>
			<li><span>Leetville 420</span></li>
			<li><img src="../assets/images/Trustpilot.png" alt="Trustpilot-rating"></li>
		</ul>
	</div>
	<div class="subnav__title">
		<ul class="subnav__list">
			<li class="subnav__item"><i class="fab fa-linkedin"></i></li>
			<li class="subnav__item"><i class="fab fa-facebook-square"></i></li>
			<li class="subnav__item"><i class="fab fa-instagram-square"></i></li>
		</ul>
	</div>
</div>

