<%- include("header.ejs")%> 
<%- include("menu.ejs")%>
<title>HOCCC</title>
<section class="section">
	<h2>A Section</h2>
	<p>
		Är du på jakt efter en ny lägenhet med det lilla extra? Hos oss på xx jobbar
		vi för juste det.... bla bla bla
	</p>
</section>

<%- include("footer.ejs")%>
