<%- include("header.ejs")%> 
<%- include("menu.ejs")%>
<title>HOCCC</title>

<section class="section">
  <h2>Nyheter</h2>
  <p>
    Är du på jakt efter en ny lägenhet med det lilla extra? Hos oss på xx jobbar
    vi för juste det.... bla bla bla
  </p>
</section>
<section class="blogposts">
  <div class="blogpost">
    <div id="img-container1">
  
    </div>
    <div class="description">
      <span></span>
    </div>
  </div>
  <div class="blogpost">
    <div id="img-container2">
  
    </div>
    <div class="description">
      <span></span>
    </div>
  </div>
  <div class="blogpost">
    <div id="img-container3">
  
    </div>
    <div class="description">
      <span></span>
    </div>
  </div>
  <div class="blogpost">
    <div id="img-container4">
  
    </div>
    <div class="description">
      <span></span>
    </div>
  </div>
</section>

<%- include("footer.ejs")%>
