<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Login</h1>

      <form action="/admin/login" method="POST">
        <div class="form-group">
          <label for="employeeId">employee id</label>
          <input type="string" id="employeeId" name="employeeId" class="form-control" placeholder="Enter employee id" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/admin/register">Register</a>
      </p>
    </div>
  </div>
</div>



<!-- <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
        <% if(typeof errors != "undefined") { %>
          <% errors.forEach(function(error) { %>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <%= error.msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
      <% }); %>

      <% } %>
      <% if(success_msg != "") { %>
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            <% success_msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label= "Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>

    <% if(error_msg != "") { %>
        <div class="alert alert-warning alert-dismissable fade show" role="alert">
            <% error_msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label= "Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
      
        <form action="/admin/login" method="POST">
          <div class="form-group">
            <label for="employeeId">Employee id</label>
            <input
              type="text"
              id="employeeId"
              name="employeeId"
              class="form-control"
              placeholder="Enter employee id"
              value="<%= typeof employeeId != 'undefined' ? employeeId : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        
      </div>
    </div>
  </div> -->