<%- include("header.ejs")%>

<div class="site">
	<nav class="nav">
		<div class="nav__title"><a href="/">HomeNet</a></div>
		<ul class="nav__list">
			<li class="nav__item"><a href="/product">Lägenheter</a></li>
			<li class="nav__item"><a href="/contact">Kontakt</a></li>
		</ul>
		<div>
			<li class="nav__item"><a href="/login">Login</a></li>
			<li class="nav__item"><a href="/admin/loginadmin">Admin</a></li>		
		</div>
	</nav>
</div>

