<%- include("header.ejs")%>
<div class="subnav">
	<div class="subnav__container">
		<div class="subnav__title">
			<img src="" alt="Home Net-logo" />
		</div>
		<ul class="subnav__list">
			<form>
				<div class="range-control">
					<input
						id="inputRange"
						type="range"
						min="1"
						max="12"
						step="1"
						data-thumbwidth="6"
					/>
					<output name="rangeVal">6</output>
				</div>
			</form>
		</ul>
		<div>
			<li class="subnav__item">
				<a href="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a>
			</li>
		</div>
	</div>
</div>

<script>
	$('input[type="range"]').on('input', function() {
		var control = $(this),
			controlMin = control.attr('min'),
			controlMax = control.attr('max'),
			controlVal = control.val(),
			controlThumbWidth = control.data('thumbwidth');

		var range = controlMax - controlMin;

		var position = ((controlVal - controlMin) / range) * 100;
		var positionOffset =
			Math.round((controlThumbWidth * position) / 100) - controlThumbWidth / 2;
		var output = control.next('output');

		output
			.css('left', 'calc(' + position + '% - ' + positionOffset + 'px)')
			.text(controlVal);
	});
</script>
