<%- include("header.ejs")%>
<body>
	<% user.forEach((user)=>{ %>
	<h3>
		<%= user.email %> har loggat in,
	</h3>
	<br />
	<h4>
		<%= user.password %> är ditt lösenord
	</h4>

	<% }) %>
</body>

<%- include("footer.ejs") %>
