/* Basic CSS-grid layout, for footerfooterIcon
.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footerIcon,
.footerMenu,
.footerContact {
  display: grid;
  grid-column-end: span 1;
}

.footerMenuList,
.contactList {
  list-style: none;
}


.nav {
  background: white;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 0;
}

.nav__title {
  font-size: 1.25em;
  margin: 0px 30px;
}

.nav__item {
  display: inline-block;
  margin: 0px 30px;
}

.subnav {
  position: sticky;
  bottom: 0;
  top: 60px;
}

.subnav__container {
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  margin: 0 60px;
  padding: 15px 0;
}

.subnav__title {
  font-size: 1.25em;
}

.subnav__list {
  margin: 0 15px;
}

.subnav__item {

  display: inline-block;
  margin: 0px 30px;
  padding: 5px;
}

.subnav {
  background: #fff;
  border-bottom: 1px solid #222;

}

h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

p {
  line-height: 1.625em;
  margin: 0 auto;
  max-width: 480px;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

form {
  width: 200px;
  padding-top: 100px;
  margin: 0 auto;
}

.range-control {
  position: relative;
}

input[type=range] {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  position: relative;
  height: 12px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #e2e2e2;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  -webkit-appearance: none;
  background-color: #fff;
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  cursor: pointer;
}

output {
  position: absolute;
  top: -32px;
  display: none;
  width: 50px;
  height: 24px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  border-radius: 3px;
  color: #777;
  font-size: .8em;
  line-height: 24px;
  text-align: center;
}

input[type=range]:active+output {
  display: block;
  transform: translateX(-50%);
}

.fa-shopping-cart {
  color: black;

} */
/*///////////////////////////////////////////////// 
        SECTION
/////////////////////////////////////////////////*/
.section {
  margin: 0 auto;
  width: 85%;
  padding: 30px;
  background-color: #aeb7c6;
  text-align: center;
  margin-top: 50px;
}
/*///////////////////////////////////////////////// 
        BLOGPOSTS
/////////////////////////////////////////////////*/
.tips {
  margin: 0 auto;
  max-width: 85%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tip {
  width: 500px;
  height: 300px;
  margin: 50px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.images-class {
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
}

#img-container1 {
  background-image: url('/static/images/food.jpg');
}

#img-container2 {
  background-image: url('/static/images/exhibition.jpg');
}

#img-container3 {
  background-image: url('/static/images/nightstreet.jpg');
}

#img-container4 {
  background-image: url('/static/images/spa2.png');
}

.description-index {
  height: 20%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 45px;
}

@media screen and (max-width: 1200px) {
  .tip {
    width: 300px;
    height: 150px;
    margin: 50px;
  }

  .description-index h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 960px) {
  .tip {
    width: 500px;
    height: 300px;
    margin: 50px;
  }

  .description-index h3 {
    font-size: 2em;
  }
}

/*///////////////////////////////////////////////// 
        HEADER 
/////////////////////////////////////////////////*/
#header {
  height: 350px;
  background-image: url('/static/images/manhattan-skyline2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#header a h1 {
  transform: translate(-50%, -50%);
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  /* border: 10px solid #38D0AB; */
  letter-spacing: 0.3em;
  text-shadow: 0px 0px 15px rgba(56,208,171,1);
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  #header a h1 {
    font-size: 4em;
  }
}

#header a:hover {
  text-decoration: none;
}

/*///////////////////////////////////////////////// 
        SIDENAV
/////////////////////////////////////////////////*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #38D0AB;
  opacity: 0.95;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}

#closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 56px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #6e6e6e;
  text-decoration: none;
}
 
.nav__list {
  margin-top: 100px;
  list-style-type: none;
}

/*///////////////////////////////////////////////// 
        MENU
/////////////////////////////////////////////////*/
#menu-bar {
  height: 45px;
  background-color: #000;
  line-height: 45px;
  display: flex; 
  justify-content: space-between;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin-bottom: 25px;
}

#menu-button {
  font-family: monospace;
  letter-spacing: 3px;
  font-size: 18px;
  color: #fff;
  margin-left: 25px;
}

#menu-button:hover {
  cursor: pointer;
  color: #38D0AB;
  transition: 0.3s;
}

/*///////////////////////////////////////////////// 
        SMALL CART
/////////////////////////////////////////////////*/

#small-cart {
  height: 50px;
  width: 50px;
  position: sticky;
  top: 20px;
  border-radius: 200px;
  background-color: #38D0AB;
  margin-left: 93%;
  margin-top: -47px;
  text-align: center;
  cursor: pointer;
  line-height: 52px;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
}
#small-cart i{
  color: #fff;
  font-size: 1.4em;
}
/*///////////////////////////////////////////////// 
        PRODUCT/Productside
/////////////////////////////////////////////////*/
.productItem {
  display: flex;
  position: relative;
  border: solid black 2px;
  margin: 10px;
  min-height: 50px;
}

.lghInfoDiv {
  padding-left: 5px;
  width: 50%;
}
.lghUxDiv {
width: 10%;
}
.fa-heart {
color: rgb(180, 15, 15);
}
.product__name {
  font-size: 1.5em;
}
.product__info {
  font-size: 0.9em;
  padding-left: 7px;
  top: 0;
}
.product__desc {
  font-style: italic;
}
.lghphotoDiv {
  width: 40%;
  display: inline-block;
  overflow: hidden;
  object-fit: contain;
  max-height: 50px;
}
.productPhoto {
  width: 100%
}

.fa-trash {
  color: black;
}

.fa-edit {
  color: black;
}
@media screen and (min-width: 992px) {
  body {
    justify-content:space-evenly;
    position: relative;
    
  }
  .productList{
    justify-content: space-between;
    float: left;
    position: relative;
    width: 100%;
  }
    .productItem{
    
    float: left;
    width: 30%;
    height: 360px;
    
  }

  .lghInfoDiv {
    float: left;
    padding-left: 5px;
    display: block;
  
  }

  .product__name {
    font-size: 1.5em;
  }
  .product__info {
    font-size: 0.9em;
    padding-left: 7px;
    top: 0;
  }
  .product__desc {
    font-style: italic;
  }

  .lghphotoDiv {
    display: inline-block;
    overflow: hidden;
    object-fit: contain;
    max-height: 50px;
  }
  .productPhoto {
    width: 100%
  }

}

/*///////////////////////////////////////////////// 
        FOOTER
/////////////////////////////////////////////////*/

.footer {
  background-color: #38D0AB;
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 280px;
}

.footer-text {
  font-size: 20px;
}

.footerlist {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-container.socialmedia-container {
  width: 50%;
  
}

.footer a {
  font-size: 20px;
  font-weight: 700;
  /* color: #fff; */
}

.footer a:hover {
  color: #6e6e6e;
  text-decoration: none;
}

.footer li {
  list-style: none;
  color: #fff;
}

li i {
  font-size: 32px;
  color: #fff;
  line-height: 2em;
  margin-bottom: 19px;
}

.social {
  position: relative;
}

.social span {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 35px; 
}
